anyio
appdirs
argon2-cffi
argon2-cffi-bindings
asttokens
async-generator
attrs
backcall
black
bleach
brewer2mpl
certifi
cffi
charset-normalizer
click
colorama
configparser
crayons
cryptography
cycler
debugpy
decorator
defusedxml
entrypoints
et-xmlfile
executing
fonttools
ggplot
h110
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab-pygments
jupyterlab-widgets
jupyterthemes
kiwisolver
lesscpy
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
mypy-extensions
mysqlclient
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
openpyxl
outcome
packaging
pandas
pandas-datareader
pandocfilters
parso
pathspec
patsy
pickleshare
Pillow
platformdirs
ply
prometheus-client
prompt-toolkit
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
requests
rpy2
scikit-learn
scipy
seaborn
selenium
Send2Trash
six
sniffio
sortedcontainers
stack-data
statsmodels
tabulate
terminado
testpath
threadpoolctl
tomli
tornado
traitlets
trio
trio-websocket
typing_extensions
tzdata
tzlocal
urllib3
voila
wbdata
wbgapi
wcwidth
webdriver-manager
webencodings
websocket-client
websockets
widgetsnbextension
wsproto
xlrd
